/* Styles */

/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Styling Begins Here */

body {
    background-color: #f2f2f2;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* Left Column */
aside {
    width: 260px;
    background-color: #f9f9f9;
    height: 100vh;
    position: fixed;
}
.logo {
    margin-top: 24px;
    background-color: #bb1333;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    margin: 20px;
    position: relative;
}
.check {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.check > span {
    color: #34495e;
    padding: 0.5rem 0.25rem;
}

.check > input {
    height: 24px;
    width: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 2px solid #d0d1d8;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color: #fff;
    cursor: pointer;
}

.check > input:checked {
    border: 1px solid #55596d;
    background-color: #55596d;
}

.check > input:checked + span::before {
    content: '\2714';
    font-family: 'Times', 'Times New Roman', 'serif';
    font-weight: bold;
    font-size: 24px;
    display: block;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 6px;
    top: 4px;
}

.check > input:active {
    border: 2px solid #34495e;
}
label {
    display: block;
    font-size: 18px;
    color: #55596d;
    margin-bottom: 18px;
}
nav {
    position: absolute;
    bottom: 20px;
    margin-left: 20px;
}
nav > a {
    text-decoration: none;
    color: #0c3c78;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

/* Right Column */

main {
    position: relative;
    left: 260px;
    width: calc(100% - 260px);
}
.top {
    height: 72px;
    background: #fafafa;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    line-height: 72px;
    padding-left: 20px;
}
.cards {
    padding: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: white;
}

/* Card Styles */
.card {
    width: 330px;
    height: 400px;
    background-color: white;
    color: black;
    margin: 24px;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.frame {
    position: absolute;
    top: 0px;
    height: 235px;
    width: 330px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    margin-bottom: 4px;
}
.avatar-image {
    height: 235px;
    width: 330px;
    background-size: cover;
    background-position: center;
}
.card-content {
    position: absolute;
    top: 240px;
    margin: 8px;
}
.row {
    width: 314px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 0px;
}
h2 {
    font-size: 24px;
}
.icon {
    margin: 3px;
}
.bio {
    text-align: left;
    font-size: 12px;
    line-height: 14px;
}
.btn {
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 10px 16px;
    background-color: #55596d;
    border-radius: 5px;
    margin-right: 8px;
}
.btn:hover {
    background-color: #7b81a0;
}
.btn:active {
    background-color: #2c2e38;
}
.last {
    position: absolute;
    bottom: 8px;
    margin: 0 8px;
    justify-content: flex-start;
}

.inactive {
    display: none;
}

.about-page {
    margin: 48px;
    color: #55596d;
}

.about-header {
    color: #bb1333;
    font-size: 48px;
    line-height: 58px;
}

.about-info {
    padding: 25px 0px 44px 0px;
}

.about-info p,
.about-info h3,
.about-info ul li {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
}

.about-info p {
    margin-bottom: 25px;
}

.about-info h3 {
    font-weight: bold;
}

.about-info ul {
    margin-bottom: 15px;
}

.about-info ul li {
    list-style-position: inside;
    list-style-type: '\2010  ';
}

.divider {
    margin-top: 56px;
}

.about-second-div h3 {
    margin-bottom: 17px;
}

.about-second-div ul {
    margin-top: 32px;
    display: flex;
}

.about-second-div ul li {
    list-style-type: none;
    margin: 10px 22px 10px 0;
}

.about-info a {
    color: #1a61b0;
    cursor: pointer;
    text-decoration: underline;
}

.footer {
    margin-top: 50px;
}

.footer span {
    font-size: 30px;
    vertical-align: 2.5px;
}
